<form (ngSubmit)="onSearch()" class="search-form">
  <mat-form-field class="example-form-field">
    <mat-label>Introduce una pelicula</mat-label>
    <input class="input-search" matInput type="text" [(ngModel)]="searchQuery" name="searchQuery" />
    @if(searchQuery){
    <button type="button" matSuffix mat-icon-button (click)="searchQuery = ''">
      <mat-icon>clear</mat-icon>
    </button>
    }
  </mat-form-field>
  <button mat-stroked-button color="primary" type="submit">Buscar</button>
</form>
